@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Variáveis */
:root {
    /* Paleta de cores  */
    --roxo-empresa: #6c5fff;
    --cinza-escuro: #232323;


    /* Cores Neutras de Apoio */
    --fundo-claro: #f8f9fa;
    --texto-branco: #ffffff;

    /* Fonte */
    --fonte-principal: 'Poppins', sans-serif;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

nav{
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    background-color: var(--cinza-escuro);
    padding: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;


    .Logo{
        width: 45px;
        height: 45px;

        /* Remove espaços extras embaixo da imagem */
        display: block; 
    }

    ul{
        display: flex;
        justify-content: right;
        list-style-type: none;

        a{
            color: var(--texto-branco);
            transition: 0.3s;
            font-size: 1.2rem;
            letter-spacing: 0.05rem;

            &:hover{
                color: var(--roxo-empresa);
            }
        }
    }




}
body {
  background-color: var(--roxo-empresa);
  color: var(--cinza-escuro);
  font-family: var(--fonte-principal);

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  

}

#formlogin {
    color: var(--texto-branco);
    background-color: var(--cinza-escuro);
    
    width: 100%;
    max-width: 400px;
    height: 300px;
    
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid none;
    border-radius: 20px;
    box-shadow: 0 0 30px var(--cinza-escuro);
    
    transition: transform 0.8s ease;

    h2 {
        margin-bottom: 20px;
    }

    label {
        padding-bottom: 3px;
    }

    #user-label{
        margin-left: -105px;
    }

    #label-senha{
        margin-left: -117px;
    }

    input {
        padding: 3px;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    button{
        padding: 3px;
        width: 171.6px;
        border-radius: 8px;
        border: solid;
        border-color: var(--roxo-empresa);
        /* box-shadow: 0 0 30px var(--cinza-escuro); */
        font-weight: bold;
        background-color: var(--roxo-empresa);
        color: var(--texto-branco);
        transition: transform 0.5s ease;

    }

    button:hover{
        cursor: pointer;
        transform: scale(1.1);
    }  

    &:hover{
        transform: scale(1.1);
    }
}

footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}